<%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>
        
    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum neque libero temporibus? Cumque a nisi, commodi mollitia doloremque, quo magnam tenetur dolorem assumenda beatae exercitationem. Fugit magnam perferendis odit magni!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum neque libero temporibus? Cumque a nisi, commodi mollitia doloremque, quo magnam tenetur dolorem assumenda beatae exercitationem. Fugit magnam perferendis odit magni!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorum neque libero temporibus? Cumque a nisi, commodi mollitia doloremque, quo magnam tenetur dolorem assumenda beatae exercitationem. Fugit magnam perferendis odit magni!</p>
    </div>

    <%- include('./partials/footer.ejs') %>

</body>
</html>